.btn_container {
	display: flex;
	justify-content: center;
	margin-top: 40px;
  }
  
  .btn {
	  width: 100px;
	  padding: 10px 15px;
	  border: 2px solid blue;
	  border-radius: 15px;
	  cursor: pointer;
	  color: aliceblue;
	  background-color: blueviolet;
  }